Last login: Mon Apr  6 22:47:41 on ttys003
~ 
❯ pwd
/Users/leonardogerheimdeandrade
~ 
❯ cd Documents/Projetos/thbox 
thbox on  master [✘!?] 
❯ ls  
README.md backend   frontend
thbox on  master [✘!?] 
❯ cd backend 
thbox/backend on  master [✘!?] 
❯ ls
fileSystem.json node_modules    package.json    server.js       src             uploads         yarn.lock
thbox/backend on  master [✘!?] 
❯ ls uploads/resized 
thbox/backend on  master [✘!?] 
❯ ls uploads/       
resized
thbox/backend on  master [✘!?] 
❯ pwd
/Users/leonardogerheimdeandrade/Documents/Projetos/thbox/backend
thbox/backend on  master [✘!?] 
❯ cd ../frontend 
thbox/frontend on  master [✘!?] 
❯ code .
thbox/frontend on  master [✘!?] 
❯ pwd
/Users/leonardogerheimdeandrade/Documents/Projetos/thbox/frontend
thbox/frontend on  master [✘!?] 
❯ cd ../../
~/Documents/Projetos 
❯ pwd
/Users/leonardogerheimdeandrade/Documents/Projetos
~/Documents/Projetos 
❯ cd DocsManager/frontend 
DocsManager/frontend on  master 
❯ ls
docs-manager
DocsManager/frontend on  master 
❯ cd docs-manager 
DocsManager/frontend/docs-manager on  master 
❯ ls
build               ecosystem.config.js node_modules        package.json        public              src                 yarn.lock
DocsManager/frontend/docs-manager on  master 
❯ vim .env 
DocsManager/frontend/docs-manager on  master took 10s 
❯ pwd
/Users/leonardogerheimdeandrade/Documents/Projetos/DocsManager/frontend/docs-manager
DocsManager/frontend/docs-manager on  master 
❯ ls
build               ecosystem.config.js node_modules        package.json        public              src                 yarn.lock
DocsManager/frontend/docs-manager on  master 
❯ ls -lah
total 1136
drwxr-xr-x    13 leonardogerheimdeandrade  staff   416B Apr  6 22:57 .
drwxr-xr-x     4 leonardogerheimdeandrade  staff   128B Mar 16 23:51 ..
-rw-r--r--@    1 leonardogerheimdeandrade  staff   8.0K Sep  3  2019 .DS_Store
-rw-r--r--     1 leonardogerheimdeandrade  staff    39B Sep 24  2019 .env
drwxr-xr-x     5 leonardogerheimdeandrade  staff   160B Sep 25  2019 .git
-rw-r--r--     1 leonardogerheimdeandrade  staff   315B Feb  7 14:56 .gitignore
drwxr-xr-x    13 leonardogerheimdeandrade  staff   416B Jan 31 16:24 build
-rw-r--r--     1 leonardogerheimdeandrade  staff   677B Feb  3 15:29 ecosystem.config.js
drwxr-xr-x  1259 leonardogerheimdeandrade  staff    39K Feb  5 16:26 node_modules
-rw-r--r--     1 leonardogerheimdeandrade  staff   1.0K Feb  5 13:54 package.json
drwxr-xr-x     9 leonardogerheimdeandrade  staff   288B Sep  3  2019 public
drwxr-xr-x    12 leonardogerheimdeandrade  staff   384B Mar 16 23:51 src
-rw-r--r--     1 leonardogerheimdeandrade  staff   538K Feb  5 13:54 yarn.lock
DocsManager/frontend/docs-manager on  master 
❯ vim .gitignore 

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
  
# dependencies
/node_modules
/.pnp
.pnp.js
#.env
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

".gitignore" 23L, 315C
